html, head, body {
    min-height: 100%;
}

body {
    background: linear-gradient(hsl(197, 20%, 73%), hsl(185, 10%, 50%));
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    color: hsl(210, var(--saturation), 30%);
}

div {
    width: 100%;
    display: flex;
    justify-content: center;
}

#menu {
    flex-direction: row;
    margin-bottom: 16px;
}

#game {
    justify-content: space-evenly;
    height: 70vh;
    margin-top: 5vh;
}

#rulesContainer {
    width: 60vh;
    flex-direction: column;
    justify-content: space-between;
}
#rules {
    text-align: center;
    height: 70%;
    flex-direction: column;
    justify-content: flex-start;
    inline-size: 90%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: hsl(197, 20%, 80%);
    color: hsl(var(--hue), var(--saturation), 15%);
    border: 4px solid hsl(var(--hue), var(--saturation), 25%);
    border-radius: 8px;
    overflow-y: auto;
}
#score {
    text-align: center;
    height: 25%;
    flex-direction: column;
    justify-content: flex-start;
    inline-size: 90%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: hsl(197, 20%, 80%);
    color: hsl(var(--hue), var(--saturation), 15%);
    border: 4px solid hsl(var(--hue), var(--saturation), 25%);
    border-radius: 8px;
    overflow-y: auto;
}
#score h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#scoreHeaderDiv {
    justify-content: space-around;
}

#board {
    position: relative;
    min-width: 70vh;
    width: 70vh;
    max-width: 70vh;
    height: 100%;
    flex-direction: column;
    flex-grow: 1;
}

.line {
    width: 100%;
    height: 6.25%;
    flex-direction: row;
}
.space {
    border-radius: 10%;
    margin: 2px;
}

/* Right */
.arrow:nth-child(1 of .arrow) {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    
    border-left: 20px solid hsl(var(--hue), var(--saturation), 15%);;
    position:absolute;
    left: 101%;
    bottom: 50%;
    translate: 0 50%;
}
/* Left */
.arrow:nth-child(2 of .arrow) {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    
    border-right:20px solid hsl(var(--hue), var(--saturation), 15%);; 
    position:absolute;
    right: 101%;
    bottom: 50%;
    translate: 0 50%;
}
/* Up */
.arrow:nth-child(3 of .arrow) {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-bottom: 20px solid hsl(var(--hue), var(--saturation), 15%);;
    position:absolute;
    bottom: 101%;
    right: 50%;
    translate: 50% 0;
}
/* Down */
.arrow:nth-child(4 of .arrow) {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid hsl(var(--hue), var(--saturation), 15%);
    position:absolute;
    right: 50%;
    top: 101%;
    translate: 50% 0;
}
.arrow {
    transition-duration: 0.2s;
    filter: opacity(50%);
}
.arrow:hover {
    transform: scale(125%);
    filter: brightness(130%) opacity(70%);
}
.arrow:active {
    transform: scale(80%);
    filter: brightness(95%) opacity(80%);
}