body {
    background-color: pink;
}

div {
    display: flex;
}

.board {
    flex-direction: column;
}
.line {
    flex-direction: row;
}

.space {
    width: 64px;
    height: 64px;
    background-color: #00000044;
    border-radius: 8px;
    margin: 2px;
}